      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;

        }
      h1 {
            font-size: 50px;
            margin: 0 auto;
            text-align: center;
            color: white;
          font-family: 楷体;
        }

    .container {
        display: flex;
        justify-content: space-between;

    }
    .dataset {
        margin: 50px auto;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }
    .dataset a {
        border-radius: 25px;
        text-decoration: none;
        margin: 50px;
        width: 206px;
        height: 232px;
    }
    .dataset a img {
        border-radius: 25px;
    }
    .dataset a:hover {
        border: solid 3px peachpuff;
    }
    .caption {
        text-align: center;
        color: white;
    }
    .choose{
        text-align: center;
        font-size: 50px;
        color: white;
        font-family: 楷体;
    }
    body {
        background-image: url("../image/04.jpg");
        background-size: cover;
    }

