    * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    h1 {
        font-family: 楷体;
        font-size: 50px;
        margin: 0 auto;
        text-align: center;
        color: white;
    }

    /*select {*/
    /*    margin: 20px;*/
    /*    padding: 10px;*/
    /*    font-size: 16px;*/
    /*    border-radius: 10px;*/
    /*    border: 2px solid #d60f0f;*/
    /*}*/
        .form-select {
            display: inline;
            margin: 20px;
            padding: 10px;
            font-size: 16px;
            width: 150px;
        }

    #rangeValue {
        color: white;
        font-size: 24px;
        margin-top: 20px;
    }
    .fengebili p {
        display: inline;
    }

    .huafenfangfa p{
        display: inline;
    }
    .xuexilv p {
        display: inline;
    }
    .moxing p{
        display: inline;
    }
    .pingjiazhibiao p{
        display: inline;
    }

    .slider {
        margin: 20px 20px 20px 0;
    }
    .slider p {
        display: inline;
    }
    .slider div {
        display: inline;
    }
    .bu button{
        margin-top: 10px;
        padding: 10px 20px;
    }


    .outcome{
        margin-left: 50px;
        color: white;
        float: left;
        text-align: left;
        width: 450px;
        height: 800px;
        border: solid;
        background-color: rgba(255, 255, 255, 0.1);
        box-shadow: 0 5px 15px rgba(20, 20, 20, 0.8);
        border-radius: 50px;
        align-items: center;
        top: 100px;
        backdrop-filter: blur(50px);
    }

    .private_para{
        color: white;
        float: left;
        display: inline;
        margin-left: 50px;
        width: 450px;
        height: 800px;
        /*background-color: #a9f1a6;*/
        border: solid;
        background-color: rgba(255, 255, 255, 0.1);
        box-shadow: 0 5px 15px rgba(20, 20, 20, 0.8);
        border-radius: 50px;
        align-items: center;
        top: 100px;
        backdrop-filter: blur(50px);
    }

    .box {
        color: white;
        float: left;
        display: inline;
        width: 510px;
        height: 800px;

        border: solid;
        margin-left: 50px;

        background-color: rgba(255, 255, 255, 0.1);
        box-shadow: 0 5px 15px rgba(20, 20, 20, 0.8);
        border-radius: 50px;
        align-items: center;
        top: 100px;
        backdrop-filter: blur(50px);
        /*background-color: #f5a1a1;*/
    }

    .total {
        width: 1700px;
        height: 1000px;
        margin: 70px auto;
        text-align: center;
    }

    .checkbox-wrapper {
        font-family: "Times New Roman";
        display: inline-block;
        width: 25%;
        margin-bottom: 10px;
    }

    /*.temp_para{*/
    /*    display: inline;*/
    /*}*/

    .form-control {
        width: 250px;
        padding: 5px;
    }

    .private_para div {
        margin: 20px;
        width: 400px;
        text-align: left;
        color: white;
    }

    body {
        background-image: url("../image/04.jpg");
        background-size: cover;
    }
